.slider-text {
  display: flex;

  width: 40%;
  height: auto;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;
}
.slider-text-header {
  font-size: 35px;
  font-weight: 700;
  color: black;
}

.slider-text-description {
  font-size: 21px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
